@model Author

<form method="post">
    <div>
        <div>
            <h2>Add author</h2>
        </div>
        <div class="mb-2">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control"/>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-4">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-dark" style="width:100px">Add</button>
            <a asp-controller="Author" asp-action="Index" class="btn btn-secondary" style="width:100px">Back</a>
        </div>        
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
