@model IEnumerable<Author> 
@{
    ViewData["Title"] = "Authors";
}

<div>
    <div class="row">
        <div class="col-6">
            <h1>Author list</h1>
        </div>
        <div class="col-6 text-end pt-0">
            <a asp-controller="Author" asp-action="Create" class="btn btn-dark">Add new author</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped align-middle" style="width:100%">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>    
                <td>@obj.FirstName</td>
                <td>@obj.LastName</td>
                <td class="col-2">
                    <div>
                        <a asp-controller="Author" asp-action="Edit" asp-route-id="@obj.Id"
                        class="btn btn-dark">Edit</a>
                        <a asp-controller="Author" asp-action="Delete" asp-route-id="@obj.Id"
                           class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>