@model Player

<form method="post">
    <input asp-for="Id" hidden />
    <div>
        <div>
            <h2>Delete player</h2>
        </div>
        <div class="mb-2">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" disabled class="form-control" />
        </div>
        <div class="mb-2">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" disabled class="form-control" />
        </div>
        <div class="mb-2">
            <label asp-for="Country"></label>
            <input asp-for="Country" disabled class="form-control" />
        </div>
        <div class="mb-2">
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" disabled class="form-control" />
        </div>
        <div class="mb-2">
            <label asp-for="Team.Name"></label>
            <input asp-for="Team.Name" disabled class="form-select" />
        </div>
        <div class="mb-4 form-group">
            <b>Player position:</b>
            <table>
                @foreach (var position in Model.Positions)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => position.Name)</td>
                    </tr>
                }
            </table>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-danger" style="width:100px">Delete</button>
            <a asp-controller="Player" asp-action="Index" class="btn btn-secondary" style="width:100px">Back</a>
        </div>
    </div>
</form>
