@model AWWW_lab2_gr5.Models.ViewModels.PlayerAssignedData

<form method="post">
    <input asp-for="Player.Id" hidden />
    <div>
        <div>
            <h2>Delete player</h2>
        </div>
        <div class="mb-2">
            <label asp-for="Player.FirstName"></label>
            <input asp-for="Player.FirstName" disabled class="form-control" />
        </div>
        <div class="mb-2">
            <label asp-for="Player.LastName"></label>
            <input asp-for="Player.LastName" disabled class="form-control" />
        </div>
        <div class="mb-2">
            <label asp-for="Player.Country"></label>
            <input asp-for="Player.Country" disabled class="form-control" />
        </div>
        <div class="mb-2">
            <label asp-for="Player.BirthDate"></label>
            <input asp-for="Player.BirthDate" disabled class="form-control" />
        </div>
        <div class="mb-2">
            <label asp-for="Player.Team.Name"></label>
            @Html.DropDownListFor(m => m.Player.TeamId, Model.TeamList, new { @class = "form-select", disabled = "disabled" })
        </div>
        </div>
        <div class="mb-4 form-group">
            <b>Player position:</b>
            <table>
                @foreach (var position in Model.PositionList)
                {
                    <tr>
                        <td>
                            <input type="checkbox"
                                name="selectedPositions"
                                alue="@position.Value"
                                @(position.Selected ? "checked" : "") 
                                disabled />
                            @position.Text
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-danger" style="width:100px">Delete</button>
            <a asp-controller="Player" asp-action="Index" class="btn btn-secondary" style="width:100px">Back</a>
        </div>
    </div>
</form>
