@model Comment

<form method="post">
    <div>
        <div>
            <h2>Delete comment</h2>
            <hr />
            <div>
                <button type="submit" class="btn btn-danger" style="width:100px">Delete</button>
                <a asp-controller="Comment" asp-action="Index" class="btn btn-secondary" style="width:100px">Back</a>
            </div>
            <hr />
        </div>
        <div class="mb-2">
            <label asp-for="Id"></label>
            <input asp-for="Id" disabled class="form-control" />
        </div>
        <div class="mb-4">
            <label asp-for="Title"></label>
            <input asp-for="Title" disabled class="form-control" />
        </div>
        <div>
            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="Content" disabled class="form-control" rows="8"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>
</form>