@model AWWW_lab2_gr5.Models.Comment

<form method="post">
    <h2>Edit comment</h2>
    <hr />
    <div class="form-group">
        <button type="submit" class="btn btn-dark" style="width:100px">Update</button>
        <a asp-controller="Comment" asp-action="Index" class="btn btn-secondary">Back</a>
    </div>
    <hr />
    <div>
        <div>
            <form asp-action="Edit">
                <input asp-for="ArticleId" hidden/>
                <div class="mb-2">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" readonly />
                </div>
                <div class="mb-2">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control" rows="8"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}