@model Team

<form method="post">
    <input asp-for="Id" hidden />
    <div>
        <div>
            <h2>Delete player</h2>
        </div>
        <div class="mb-2">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <div class="mb-2">
            <label asp-for="Country"></label>
            <input asp-for="Country" disabled class="form-control" />
        </div>
        <div class="mb-2">
            <label asp-for="Country"></label>
            <input asp-for="Country" disabled class="form-control" />
        </div>
        <div class="mb-2">
            <label asp-for="Country"></label>
            <input asp-for="Country" disabled class="form-control" />
        </div>
        <div class="mb-4">
            <label asp-for="League.Name"></label>
            <input asp-for="League.Name" disabled class="form-select" />
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-danger" style="width:100px">Delete</button>
            <a asp-controller="Team" asp-action="Index" class="btn btn-secondary" style="width:100px">Back</a>
        </div>
    </div>
</form>
