@model IEnumerable<Category>
@{
    ViewData["Title"] = "Category";
}

<div>
    <div class="row">
        <div class="col-6">
            <h1>Category list</h1>
        </div>
        <div class="col-6 text-end pt-0">
            <a asp-controller="Category" asp-action="Create" class="btn btn-dark">Add new category</a>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped align-middle" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.Name)</th>
            <th class="col-2">Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td class="col-2">
                    <div>
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id"
                        class="btn btn-dark">Edit</a>
                        <a -asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id"
                        class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
